.slider_principal {
    position: relative;
    margin: 20px 0; 
    overflow: hidden;
}

.carousel-inner {
    max-height: 500px; 
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    height: 500px; 
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-inner {
        max-height: 300px; 
    }
}

.carousel-caption {
    position: absolute;
    bottom: 40px;
    left: 50%; 
    transform: translateX(-50%); 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(110, 110, 110, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
}

.carousel-caption h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

.carousel-caption p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
}

/* Botón de "Ver más" de mi slide*/
.carousel-caption .btn {
    background-color: #17a2b8;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.carousel-caption .btn:hover {
    background-color: #138496;
}

/* Controles de flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, 0.5);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #fff; 
}
